# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Model files 
*.pth
*.pt
*.h5

# Dataset 
data/

# Logs & cache
.pytest_cache/
.coverage
htmlcov/

# Streamlit 
.streamlit/